@page
@model CarsApp.Pages.Contact.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Kontakt";
}

<h1>@ViewData["Title"]</h1>

<p> email: email@twojaskrzynka.pl </p>
