@page
@model CarsApp.Pages.Admin.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edytuj samochód";
}

<p>Wprowadź dane:</p>

<form method="post">
    <input type="hidden" asp-for="EditCar!.Id" value="@Model.EditCar.Id" />
    Marka:
    <input asp-for="EditCar!.Brand" value="@Model.EditCar.Brand" />
    Model:
    <input asp-for="EditCar!.Model" value="@Model.EditCar.Model" />
    <input type="submit" value="Zapisz" />
</form>

